**/node_modules
*.env
backend/src/uploads/*
backend/src/**/uploads/
*.session.sql
.vscode
tmp

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
