:root {
  --primary-color: #ff6b6b;
  --secondary-color: #794afa;
  --secondary-dark-color: #453c5c;

  --white-color: #ffffff;
  --dark-color: #0a021c;
  --light-bg-color: #f2f3f5;
  --light-bg-color-2: #cbd7f0;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;

  --font-small: 13px;
  --font-smaller: 11px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;

  --trans-backgroud-color: backgroud-color 0.3s color 0.3s;
  --trans-backgroud: background-color 0.3s;
  --trans-color: color 0.3s;
}